<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushNotifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8C8415D1DEB2C4C007D5E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8C841711DEB2C4D007D5E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8C8417C1DEB2C4D007D5E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
